@font-face {
    font-family: 'PP Object Sans';
    src: url('PPObjectSans-Heavy.eot');
    src: url('PPObjectSans-Heavy.eot?#iefix') format('embedded-opentype'),
        url('PPObjectSans-Heavy.woff2') format('woff2'),
        url('PPObjectSans-Heavy.woff') format('woff'),
        url('PPObjectSans-Heavy.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Object Sans';
    src: url('PPObjectSans-Regular.eot');
    src: url('PPObjectSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('PPObjectSans-Regular.woff2') format('woff2'),
        url('PPObjectSans-Regular.woff') format('woff'),
        url('PPObjectSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

