@font-face {
    font-family: 'RF Dewi';
    src: local('RF Dewi Expanded Regular'), local('RF-Dewi-Expanded-Regular'),
    url('./fonts/RFDewiExpanded-Regular/RFDewiExpanded-Regular.woff2') format('woff2'),
    url('./fonts/RFDewiExpanded-Regular/RFDewiExpanded-Regular.woff') format('woff'),
    url('./fonts/RFDewiExpanded-Regular/RFDewiExpanded-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi';
    src: local('RF Dewi Expanded Bold'), local('RF-Dewi-Expanded-Bold'),
    url('./fonts/RFDewiExpanded-Bold/RFDewiExpanded-Bold.woff2') format('woff2'),
    url('./fonts/RFDewiExpanded-Bold/RFDewiExpanded-Bold.woff') format('woff'),
    url('./fonts/RFDewiExpanded-Bold/RFDewiExpanded-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi';
    src: local('RF Dewi Expanded Black'), local('RF-Dewi-Expanded-Black'),
    url('./fonts/RFDewiExpanded-Black/RFDewiExpanded-Black.woff2') format('woff2'),
    url('./fonts/RFDewiExpanded-Black/RFDewiExpanded-Black.woff') format('woff'),
    url('./fonts/RFDewiExpanded-Black/RFDewiExpanded-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('./fonts/Montserrat-Regular/Montserrat-Regular.woff2') format('woff2'),
    url('./fonts/Montserrat-Regular/Montserrat-Regular.woff') format('woff'),
    url('./fonts/Montserrat-Regular/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
    url('./fonts/Montserrat-Bold/Montserrat-Bold.woff2') format('woff2'),
    url('./fonts/Montserrat-Bold/Montserrat-Bold.woff') format('woff'),
    url('./fonts/Montserrat-Bold/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .content {
        @apply max-w-5xl xl:max-w-6xl 2xl:max-w-7xl 3xl:max-w-8xl mx-auto;
    }
}

@layer components {
    .main-banner {
        background-image: url('img/banner_2.png');
    }

    @media (min-width: 768px)  {
        .main-banner {
            background-image: url('img/banner_2_large.png');
        }
    }
    .second-banner {
        background-image: url('img/banner_3.png');
    }

    @media (min-width: 768px)  {
        .second-banner {
            background-image: url('img/banner_3_large.png');
        }
    }

    .banner-button__wrapper {
        @apply max-w-xs relative h-[70px] xl:h-20 border-t border-l border-violet-500 relative;
    }
    .banner-button__wrapper:after {
        content: '';
        @apply absolute top-full left-0 border-t border-violet-500 w-2 -mt-0.05;
    }
    .banner-button__wrapper:before {
        content: '';
        @apply absolute top-0 right-0 border-r border-violet-500 h-2 -ml-0.05;
    }
    .banner-button {
        background: linear-gradient(92.95deg, #A081E6 -2.36%, #8569C4 -2.35%, #9872EB 102.97%);
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 18px), calc(100% - 18px) 100%, 0 100%);
        @apply absolute inset-0 h-full w-full font-montserrat font-bold flex items-center justify-center relative text-white shadow-md uppercase text-sm transition translate-x-1.5 translate-y-1.5 duration-75 hover:translate-x-0 hover:translate-y-0;
    }
    .banner-button:hover {
        background: linear-gradient(92.95deg, #8C6BD6 -2.36%, #8C6BD6 -2.35%, #7D56D6 102.97%);
    }

    .item.active {
        @apply border-violet-500;
    }
    /*.item.active span {*/
    /*    @apply from-white to-white text-violet-500;*/
    /*}*/
    .item.active .hide-when-active {
        @apply hidden;
    }

    .tab.active {
        @apply bg-white text-neutral-850 hover:text-neutral-850 opacity-100
    }
}

@layer utilities {
    .flex-centered {
        @apply flex flex-col items-center justify-center;
    }
    .video-container {
        @apply overflow-hidden relative w-full
    }

    .video-container::after {
        padding-top: 56.25%;
        display: block;
        content: '';
    }

    .video-container iframe {
        @apply absolute inset-0 w-full h-full
    }
    .overflow-visible-important {
        overflow: visible !important;
    }
}

.ac.js-enabled .ac-panel {
    visibility: hidden;
}
.ac.is-active .ac-panel {
    visibility: visible;
}
.ac .ac-panel {
    overflow: hidden;
    transition-property: height, visibility;
    transition-timing-function: ease;
}
.ac.is-active .hide-when-active {
    @apply hidden;
}

.type_pagination.active {
    @apply bg-gradient-to-r from-violet-500 to-violet-400 text-white
}

/**************************\
  Basic Modal Styles
\**************************/

.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    @apply z-30 p-5
}

.modal__container {
    background-color: #fff;
    max-height: 100vh;
    overflow-y: auto;
    box-sizing: border-box;
    @apply max-w-640 p-5 sm:p-10 md:px-[70px] md:py-[60px]
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.25;
    color: #00449e;
    box-sizing: border-box;
}

.modal__close {
    background: transparent;
    border: 0;
}

.modal__header .modal__close:before { content: "\2715"; }

.modal__content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    color: rgba(0,0,0,.8);
}

.modal__btn {
    font-size: .875rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #e6e6e6;
    color: rgba(0,0,0,.8);
    border-radius: .25rem;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    line-height: 1.15;
    margin: 0;
    will-change: transform;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: -webkit-transform .25s ease-out;
    transition: transform .25s ease-out;
    transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}

.modal__btn:focus, .modal__btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.modal__btn-primary {
    background-color: #00449e;
    color: #fff;
}



/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes mmslideIn {
    from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
    display: none;
}

.micromodal-slide.is-open {
    display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
    will-change: transform;
}